<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
</head>
<body>
    <h1>All Url</h1>

    <% if (!admin) { %>

        <form action="/admin/login" method="post">
            <label for="">Username: </label>
            <input type="text" name="user">
            <label for="">Password: </label>
            <input type="password" name="password" id="">
            <input type="submit">
        </form>

    <% } %>
    
    <% if(admin) { %>
    <a href="/admin/logout">Logout</a>
    
    <form action="/admin/addnew" method="post">
        <label for="">Url</label>
        <input type="text" name="url" id="" placeholder="https://" required>
        <label for="">Slug</label>
        <input type="text" name="slug" id="">
        <input type="submit" value="AddNew">
    </form>

    <% data.forEach(e => { %>
        <form action="/admin/updateanddelete" method="post">
            <input type="text" name="id" value="<%= e.url %>" hidden>
            <input type="text" name="url" value="<%= e.url %>" disabled>
            <label for=""><%= site_url%>/</label>
            <input type="text" name="slug" value="<%= e.slug %>">
            <a href="<%= site_url%>/<%= e.slug %>">Go To</a>
            <input type="submit" name="submit" value="Update">
            <input type="submit" name="submit" value="Delete">
        </form>
        
        
    <% }); %>

    <% }; %>
</body>
</html>